body {
    display: flex;
    flex-direction: column;
    font-family: 'Outfit';
    background-color: hsl(191, 76%, 48%);
    align-items: left;
    justify-content: center;  
    min-height: 100vh;
}


